.app {
  margin: 0px;
  height: 100vh;
  background-size: cover;
}

.weather-container {
  padding: 100px;
  margin-top: 25vh;
  border-radius: 25px;
  background-color: rgba(52, 52, 52, 0.7);
}

.location {
  font-size: 5em;
  font-weight: bold;
  border-bottom: 5px solid white;
}

.temperature {
  font-size: 4em;
  color: #37ff8b;
  font-weight: bold;
}

.weather-description {
  font-size: 70px;
  font-weight: bold;
}

.author {
  font-size: 2em;
  color: #51d6ff;
  font-weight: bold;
}
.sidebar {
  left: 0;
  bottom: 0;
  width: 200;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.city-button {
  font-size: 2em;
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
